[:find (pull ?c [:course/math-academy-id :course/title {:course/units [:unit/title {:unit/modules [:module/title {:module/topics [:topic/math-academy-id :topic/title]}]}]}]) :in $ ?id :where [?c :course/math-academy-id ?id]]