[:find (pull ?q [:question/id :question/math-academy-id :question/problem :question/worked-solution {:question/difficulty [:db/ident]} {:question/answer-fields [:answer-field/id :answer-field/key {:answer-field/type [:db/ident]} {:answer-field/choices [:answer/id {:answer/type [:db/ident]} :answer/value]} {:answer-field/correct [:answer/id]}]}]) :in $ [?mid ...] :where [?q :question/math-academy-id ?mid]]
