#{[{:db/id #edb/ref 17592186096761 :knowledge-point/canonical-example {:question/math-academy-id "e-182"} :knowledge-point/id #uuid "2f0cdac9-57b2-5634-8d98-d6adf8a85204" :knowledge-point/questions [{:question/math-academy-id "q-48730"} {:question/math-academy-id "q-48846"} {:question/math-academy-id "q-107291"} {:question/math-academy-id "q-314194"} {:question/math-academy-id "q-342683"} {:question/math-academy-id "q-342802"} {:question/math-academy-id "q-107360"} {:question/math-academy-id "q-342680"} {:question/math-academy-id "q-342764"}] :knowledge-point/title "Differentiating a Radical Function Using the Chain Rule"}]}
